## Social Network ads
This notebook shows the classification of the datasets containing social network ads

### Imports

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

### Gathering data

In [4]:
base_raw_data_path = "../raw_data"
df_sna = pd.read_csv(os.path.join(base_raw_data_path, "Social_Network_Ads.csv"))

In [5]:
df_sna

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [6]:
X = df_sna.iloc[:, :-1].values
y = df_sna.iloc[:, -1].values

In [9]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [10]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
# Training the Random Forest Classification model on the Training set
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)

In [15]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(classifier, X, y, cv=10)
scores.mean()

0.8625